<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Mon Site</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/garages">Liste des Garages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/garage/add">Créer un Garage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voitures">Liste des Voitures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voiture/add">Créer une Voiture</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br />
<div class="container">
  <div class="text-center">
    <h2>Ajouter un nouveau garage</h2>
  </div>
  <form (ngSubmit)="addGarage()" #garageForm="ngForm">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input
        type="text"
        class="form-control"
        id="nom"
        name="nom"
        required
        [(ngModel)]="newGarage.nom"
      />
    </div>
    <div class="form-group">
      <label for="numeroTelephone">Numéro de téléphone</label>
      <input
        type="text"
        class="form-control"
        id="numeroTelephone"
        name="numeroTelephone"
        required
        [(ngModel)]="newGarage.numeroTelephone"
        pattern="^0[1-9][0-9]{8}$"
      />
    </div>
    <div class="form-group">
      <label for="mail">Mail</label>
      <input
        type="text"
        class="form-control"
        id="mail"
        name="mail"
        required
        [(ngModel)]="newGarage.mail"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      />
    </div>
    <div class="form-group">
      <label for="ville">Ville</label>
      <input
        type="text"
        class="form-control"
        id="ville"
        name="ville"
        required
        [(ngModel)]="newGarage.ville"
      />
    </div>
    <div
      *ngIf="submitted && successMessage"
      class="alert alert-success"
      role="alert"
    >
      {{ successMessage }}
    </div>
    <div
      *ngIf="submitted && errorMessage"
      class="alert alert-danger"
      role="alert"
    >
      {{ errorMessage }}
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!garageForm.form.valid"
    >
      Ajouter
    </button>
  </form>
</div>
<footer><br /><br /><br /><br /><br /></footer>
