<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Mon Site</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/garages">Liste des Garages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/garage/add">Créer un Garage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voitures">Liste des Voitures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/voiture/add">Créer une Voiture</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-5 mb-3">
      <label for="nom">Nom du garage</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="nom"
        (ngModelChange)="search()"
        name="nom"
        id="nom"
      />
    </div>
    <div class="col-md-5 mb-3">
      <label for="ville">Ville</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="ville"
        name="ville"
        id="ville"
      />
    </div>
    <div class="col-md-2 d-flex justify-content-center align-items-center">
      <button class="btn btn-success" (click)="search()">Rechercher</button>
    </div>
  </div>
  <div class="text-center">
    <h2>Détails de la voiture</h2>
  </div>
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
  <div *ngIf="cancelMessage" class="alert alert-warning">
    {{ cancelMessage }}
  </div>
  <form #voitureForm="ngForm" (ngSubmit)="saveVoiture()">
    <div class="form-group">
      <label>ID</label>
      <input
        class="form-control"
        type="text"
        name="id_voiture"
        required
        [(ngModel)]="voiture.id_voiture"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="garage">Garage</label>
      <select
        class="form-control"
        id="garage"
        name="garage"
        required
        [(ngModel)]="voiture.garage!.id_garage"
        [disabled]="!isEditing"
      >
        <option *ngIf="voiture.garage?.id_garage === 0"></option>
        <option value="0">Aucun garage</option>
        <option *ngFor="let garage of garages" [value]="garage.id_garage">
          {{ garage.nom }} - {{ garage.ville?.ville }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>Plaque</label>
      <input
        class="form-control"
        type="text"
        name="plaque"
        required
        [(ngModel)]="voiture.plaque"
        [disabled]="!isEditing"
        pattern="^[A-Z]{2}-[0-9]{3}-[A-Z]{2}$"
      />
    </div>
    <div class="form-group">
      <label>Kilomètre</label>
      <input
        class="form-control"
        type="number"
        name="kilometre"
        required
        [(ngModel)]="voiture.kilometre"
        [disabled]="!isEditing"
      />
    </div>
    <div class="form-group">
      <label>Marque</label>
      <input
        class="form-control"
        type="text"
        name="marque"
        required
        [(ngModel)]="voiture.marque!.marque"
        [disabled]="!isEditing"
      />
    </div>
    <div class="form-group">
      <label>Modèle</label>
      <input
        class="form-control"
        type="text"
        name="modele"
        required
        [(ngModel)]="voiture.modele!.modele"
        [disabled]="!isEditing"
      />
    </div>
    <div class="form-group mb-3">
      <label for="annee">Année </label>
      <select
        class="form-control"
        id="annee"
        name="annee"
        required
        [(ngModel)]="voiture.annee!.annee"
        [disabled]="!isEditing"
      >
        <option value="" disabled>Sélectionner une année</option>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3 mb-3 form-check">
          <input
            class="form-check-input"
            type="radio"
            name="carburant"
            id="diesel"
            value="Diesel"
            required
            [(ngModel)]="voiture.carburant!.carburant"
            [disabled]="!isEditing"
          />
          <label class="form-check-label" for="diesel">Diesel</label>
        </div>
        <div class="col-md-3 mb-3 form-check">
          <input
            class="form-check-input"
            type="radio"
            name="carburant"
            id="essence"
            value="Essence"
            required
            [(ngModel)]="voiture.carburant!.carburant"
            [disabled]="!isEditing"
          />
          <label class="form-check-label" for="essence">Essence</label>
        </div>
        <div class="col-md-3 mb-3 form-check">
          <input
            class="form-check-input"
            type="radio"
            name="carburant"
            id="electrique"
            value="Electrique"
            required
            [(ngModel)]="voiture.carburant!.carburant"
            [disabled]="!isEditing"
          />
          <label class="form-check-label" for="electrique">Electrique</label>
        </div>
        <div class="col-md-3 mb-3 form-check">
          <input
            class="form-check-input"
            type="radio"
            name="carburant"
            id="gpl"
            value="GPL"
            required
            [(ngModel)]="voiture.carburant!.carburant"
            [disabled]="!isEditing"
          />
          <label class="form-check-label" for="gpl">GPL</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3 form-check">
          <input
            class="form-check-input"
            type="radio"
            name="carburant"
            id="ethanol"
            value="Ethanol"
            required
            [(ngModel)]="voiture.carburant!.carburant"
            [disabled]="!isEditing"
          />
          <label class="form-check-label" for="ethanol">Ethanol</label>
        </div>
        <div class="col-md-3 mb-3 form-check">
          <input
            class="form-check-input"
            type="radio"
            name="carburant"
            id="hybride_e"
            value="Hybride E"
            required
            [(ngModel)]="voiture.carburant!.carburant"
            [disabled]="!isEditing"
          />
          <label class="form-check-label" for="hybride_e">Hybride E</label>
        </div>
        <div class="col-md-3 mb-3 form-check">
          <input
            class="form-check-input"
            type="radio"
            name="carburant"
            id="hybride_d"
            value="Hybride D"
            required
            [(ngModel)]="voiture.carburant!.carburant"
            [disabled]="!isEditing"
          />
          <label class="form-check-label" for="hybride_d">Hybride D</label>
        </div>
      </div>
    </div>
    <br />
    <div *ngIf="isEditing" class="form-group">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="!voitureForm.form.valid"
      >
        Enregistrer
      </button>
      <button class="btn btn-secondary" type="button" (click)="cancelEdit()">
        Annuler
      </button>
    </div>
  </form>
  <br />
  <div *ngIf="!isEditing">
    <button class="btn btn-primary" type="button" (click)="editVoiture()">
      Modifier
    </button>
    <button class="btn btn-danger" type="button" (click)="deleteVoiture()">
      Supprimer
    </button>
  </div>
</div>
<footer><br /><br /><br /><br /><br /></footer>
